<div class="tab-pane active" id="fade-animation">
            <button type="button" class="btn btn-info" ng-click="animationsController.resetAnimation()">
              <i class="fa fa-play-circle" aria-hidden="true"></i>
              Play the animation
            </button>
            <div ng-if="animationsController.animationBool" class="expand"></div>
            <div class="code-display">
              <div class="col-md-6 col-sm-12 col-xs-12 html-content">
                <div class="content">
                    &lt;div ng-if="animationsController.animationBool" class="expand"&gt;&lt;/div&gt;
                </div>
              </div>
              <div class="col-md-6 col-sm-12 col-xs-12 css-content">
                <div class="content">
                  <pre>
.expand {
  opacity:1;
  border: 1px $bright-red solid;
  background-color: #ee2759;
  height: 100px;
  width:100px;
  margin: 30px auto;

  &.ng-enter, &.fade.ng-leave {
    transition: 0.7s linear all;
  }

  &.ng-enter {
    height: 0px;
    /* à la fin de l'entrée */
    &.ng-enter-active {
      height: 100px;
    }
  }

  &.ng-leave {
    height: 100px;
    &.ng-leave-active {
      height: 0px;
    }
  }
}
                  </pre>
                </div>
              </div>
            </div>
          </div>