@import './../../../styles/app';

.instructions {
	& > ul {
		padding-top: 10px;
		padding-bottom: 15px;
		li {
			font-weight: bold;
		}
		&:last-of-type {
			padding-bottom: 0px;
		}
	}

	p
	{
		.highlight {
			font-weight: bold;
		}
		.fa-arrow-right {
			padding-right: 10px;
		}
	}

	.conclusion {
		padding-top: 30px;
	}

	.sum-up {
		padding: 20px 0px;
	}

	table, tr, th, td {
		border: 1px solid black;
	}
	table {
		width: 100%;
		tr {
			th {
				color: #fff;
				background-color: $bright-red;
			}
			th, td {
				padding: 10px 10px;
			}
		}
		tbody:hover td[rowspan], tr:hover td {
		   background: $light-grey-background-color; 
		}
	}
}